

.title {

    margin-bottom: 20px;

}
    .title_txt {

        margin-top: 50px;
        padding-left: 10%;
        margin-bottom: 0px;

    }

    .title_img {

        padding-left: 10%;
        margin-top: -10;
        margin-top: -10px;

    }




#k11{
            width: 200px;
        }